
body {
    text-align: center;
    padding: 40px;
    background-color: aliceblue;
}


/**
 * Title
 */
.winner-title {
    font-size: 450%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.winner-title > img {
    width: 150px;
    height: auto;
    margin: 0px 120px;
}

.winner-title-text {
    padding-top: 35px;
    color: gray;
}

.multicolortext {
    background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
  }
/**
 *  
 */

 .winner {
    padding-top: 90px;
 }

.winner > img {
    border-radius: 50%;
     height: 250px;
    border-radius: 50%;
    width: auto;
}

.winner-title {
    font-size: 450%;
}

.players-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.win-period {
    font-size: 225%;
}

.win-date {
    font-weight: bold;
}


.winner-visualisation {
    background-color: lightgreen;
}