
body {
    text-align: center;
    padding: 40px;
    background-color: aliceblue;
}


/**
 * Title
 */
.winner-title {
    font-size: 450%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.winner-title > img {
    width: 150px;
    height: auto;
    margin: 0px 120px;
}

.winner-title-text {
    padding-top: 35px;
    color: gray;
}

/**
 *  
 */

 #winner {
    padding-top: 90px;
 }

#winner > img {
    border-radius: 50%;
    height: 250px;
    width: auto;
    border-radius: 50%;
    height: 375px
}